<div class="p-10">
  <div class="flex justify-between">
    <h2>Licenças</h2>
    <app-button label="Nova Licença" icon="add_circle" class="-mr-2" [paddingY]="true" (onClick)="adicionarLicenca()"></app-button>
  </div>

  <div class="w-full bg-light p-5 rounded-t-xl mat-elevation-z1">
    <app-search label="Buscar Licença" class="no-margin"></app-search>
  </div>
  <div class="overflow-y-auto">
    <table mat-table [dataSource]="licencasDataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z1 w-full">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th pr-6">
        Nome
      </th>
      <td mat-cell *matCellDef="let licenca" class="pr-6"> {{ licenca.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="chave">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th pr-6">
        Chave
      </th>
      <td mat-cell *matCellDef="let licenca" class="pr-6"> {{ licenca.chave }} </td>
    </ng-container>

    <ng-container matColumnDef="software">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th pr-6">
        Software
      </th>
      <td mat-cell *matCellDef="let licenca" class="pr-6"> {{ licenca.software }} </td>
    </ng-container>

    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th pr-6">
        Quantidade
      </th>
      <td mat-cell *matCellDef="let licenca" class="pr-6"> {{ licenca.quantidade }} </td>
    </ng-container>

    <ng-container matColumnDef="disponivel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th pr-6">
        Disponível
      </th>
      <td mat-cell *matCellDef="let licenca" class="pr-6"> {{ licenca.disponivel }} </td>
    </ng-container>

    <ng-container matColumnDef="ativo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-th pr-6">
        Ativo?
      </th>
      <td mat-cell *matCellDef="let licenca" class="pr-6"> {{ licenca.ativo ? 'Sim' : 'Não' }} </td>
    </ng-container>

    <ng-container matColumnDef="opcoes">
      <th mat-header-cell *matHeaderCellDef class="table-th text-center">
        <mat-icon>settings</mat-icon>
      </th>
      <td mat-cell *matCellDef="let licenca" class="w-24 text-center pt-2">
        <mat-icon class="delete-icon" matTooltip="Opções" [matMenuTriggerFor]="menu">more_vert</mat-icon>
        <mat-menu #menu="matMenu" xPosition="after">
          <button mat-menu-item (click)="editarLicenca(licenca)">
            <mat-icon class="text-secondary">edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="excluirLicenca(licenca)">
            <mat-icon class="text-secondary">delete</mat-icon>
            <span>Excluir</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


</div>
