.notificacao-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  z-index: 2000;
}

.notificacao {
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  margin: 8px;
  padding: 24px;
  z-index: 1000;
}

.notificacao > div:nth-child(1) {
  flex-grow: 1;
}

