<div class="flex items-center justify-center h-full">
  <div class="w-1/2 h-full items-center justify-center bg-primary hidden md:flex">
    <img src="./../../../assets/it_services.png" />
  </div>

  <div class="w-full h-full flex flex-col gap-10 items-center justify-center">
    <div class="text-center">
      <h1 class="text-3xl">Geti</h1>
      <h2 class="text-4xl">Gestão de Equipamentos de TI</h2>
    </div>
    <div class="w-1/2">
      <form [formGroup]="loginForm">
        <h3>Fazer login</h3>
        <mat-form-field appearance="outline" class="w-full mr-2">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
          <mat-error>
            <app-invalid-state [control]="loginForm.controls['email']" fieldName="E-mail"></app-invalid-state>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="senha">
          <mat-error>
            <app-invalid-state [control]="loginForm.controls['senha']" fieldName="Senha"></app-invalid-state>
          </mat-error>
        </mat-form-field>
        <app-button class="block" label="Entrar" (onClick)="login()" [disabled]="loginForm.invalid"></app-button>
      </form>
    </div>
  </div>
</div>



