<div class="navbar-container" [class.navbar-mobile]="mobileQuery.matches">
  <div class="flex py-4 px-8 items-center justify-between gap-4">
    <div class="flex items-center">
      <button mat-icon-button (click)="snav.toggle()" class="mr-2"><mat-icon>menu</mat-icon></button>
      <h1 class="m-0 cursor-pointer" [routerLink]="'/'">Geti</h1>
    </div>

    <mat-form-field appearance="outline" class="w-2/4 no-margin">
      <input matInput placeholder="Buscar">
      <mat-icon matSuffix class="text-primary">search</mat-icon>
    </mat-form-field>


    <div class="flex items-center font-medium ">
      {{ nomeUsuario }}
      <mat-icon class="text-primary ml-4 cursor-pointer" matTooltip="Alterar Senha">vpn_key</mat-icon>

      <mat-icon class="text-primary ml-4 cursor-pointer" matTooltip="Sair" (click)="logout()">exit_to_app</mat-icon>
    </div>

    <!-- <div class="w-14 h-14 rounded-full bg-primary flex items-center justify-center text-light font-medium cursor-pointer mr-6" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <h4 class="px-4">{{ nomeUsuario }}</h4>
        <button mat-menu-item class="text-center font-medium">Alterar Senha</button>
        <button mat-menu-item class="text-center font-medium" (click)="logout()">Sair</button>
      </mat-menu>
    </div> -->

  </div>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="92" class="sidenav">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="mat-sidenav-content">
      <app-notificacao></app-notificacao>
      <router-outlet></router-outlet>
      <app-loader></app-loader>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


