<div class="navbar-container" [class.navbar-mobile]="mobileQuery.matches">
  <mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="text-dark">Geti</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="mat-sidenav-content">
      //routing module
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
