<mat-nav-list>
  <div *ngFor="let link of links">

    <div *ngIf="!link.children" class="sidenav">
       <a mat-list-item [routerLink]="link.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
        <mat-icon class="text-primary mr-2">{{ link.icon }}</mat-icon>
        <a>{{ link.label }}</a>
       </a>
    </div>

    <div *ngIf="link.children">
      <a mat-list-item (click)="toggleLink()">
        <mat-icon class="text-primary mr-2">{{ link.icon }}</mat-icon>
        <a>{{ link.label }}</a>
        <mat-icon *ngIf="!showDropdownMenu">expand_less</mat-icon>
        <mat-icon *ngIf="showDropdownMenu">expand_more</mat-icon>
      </a>
      <mat-nav-list class="sidenav-submenu -mt-3" *ngIf="showDropdownMenu">
        <div *ngFor="let sublink of link.children">
          <a mat-list-item class="submenu-sublink" [routerLink]="sublink.route" routerLinkActive="active">{{ sublink.label }}</a>
        </div>
      </mat-nav-list>
    </div>
  </div>
</mat-nav-list>
