.loading-container{
  background-color: #0000001f;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 90.8vh;
  align-items: center;
  justify-content: center;
  display: grid;
}
