
@use 'theme/geti-theme.scss';
@use 'theme/geti-style.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Material

.mat-form-field,
.mat-form-field .mat-form-field-label {
  font-size: 16px;
}

.mat-error {
  font-size: 14px;
}

.no-margin,
.no-margin .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !Important;
}

.mat-sort-header-arrow {
  color: #fff;
}
