
@use 'theme/geti-theme.scss';
@use 'theme/geti-style.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Material

.mat-form-field .mat-form-field-label {
  font-size: 16px;
  margin-top: 1px;
}

.mat-form-field-invalid.ng-touched.ng-invalid {
  margin-bottom: 16px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

.mat-form-field,
.mat-form-field-wrapper {
  padding-bottom: 0;
  margin: 0;
}

.mat-form-field-label-wrapper {
  top: -1.4em;
}

.mat-sort-header-arrow {
  color: #fff;
}
